body {
  background: linear-gradient(90deg, rgba(15,152,0,0.8995973389355743) 65%, rgba(227,28,28,0.7707457983193278) 100%, rgba(255,0,0,0.6558998599439776) 100%);
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}
